@import "./base.css";


.container{
    width:min(100% - 30px, 1280px);
    margin-inline: auto;
}


.flexbox{
    display: flex;
}

body{
    background-color: var(--app-black);
}

.hello{
    height:100vh;
    width: 100%;
    background-image: url(../img/pexels-eberhard-grossgasteiger-2098428.jpg);
    background-size: cover;
    background-position: center;
}
header{
    height: 60px;
}

h1{
    width:40%;
    font-size: 40px;
    font-weight: 600;
    color:var(--app-grey);
    margin-right: 30px;
}

span{
    color:var(--app-pink);
}
nav{
    width:60%;
    text-align: center;
    font-size: 18px;
    color:var(--app-grey);
    margin-right: 30px;
    line-height: 70px;
}


nav ul li {
    display:inline;
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color:var(--app-grey);
}
nav ul li a:hover{
    color:var(--app-pink);
}


/*--------------------*/
/*Responsive Design   */
/*--------------------*/

@media (max-width:1600px ){
   
    nav ul .tag{
        display:none;
    }
}

@media (max-width:1100px ){
    nav ul li{
        margin-right: 30px;
    }
    nav ul .tag{
        display:none;
    }
}

@media (max-width:1000px){
    nav ul li{
        margin-right: 20px;
    }
    nav ul .tag{
        display:none;
    }
}

@media (max-width:900px){
    nav ul li{
        margin-right: 10px;
    }
    nav ul .tag{
        display:none;
    }
}

@media (max-width:770px){
     h1{
        font-size: 30px;
    }
    nav ul li{
        font-size: 14px;
        line-height: 60px;
        
    }
    nav ul .tag{
        display:none;
    }
}

@media (max-width:800px){
    

    nav ul .home-2 ,  nav ul .home-3 ,  nav ul .home-4, nav ul .home-5, nav ul .home-1 {
      display: none;
    }
  
   nav ul .tag {
      display:inline;
        font-size:24px;
        color: var(--app-white);
        margin-left:240px;
   }
  }




/*------------------------*/
/*Columns                 */
/*------------------------*/

.column{
    flex-grow:1;
    width:calc(25% - 15px);

    border-radius: 6px;
   
    margin-top:30px;
}
.row {
    flex-flow:row wrap;
     display:flex;
     gap:20px;
 }
 

.one{
    background-color: var(--app-dark-grey);
    padding:20px;
    box-sizing: border-box;
}

.two{
    background-color:var(--app-dark-grey) ;
    padding:20px;
    box-sizing: border-box;
}

.three{
    background-color: var(--app-dark-grey);
    padding:20px;
    box-sizing: border-box;
}

.four{
    background-color: var(--app-dark-grey);
    padding:20px;
    box-sizing: border-box;
}



/*section{
    min-height:calc(100vh -60px - 80px);}*/

    section{
        min-height: calc(100vh - 60px - 80px - 20px);
    }
/*699px and down*/
@media (max-width:1080px ){
    /*.column{
      width:calc(50% - 10px);

    }*/
    .button input{
        font-size: 12px;
    }
    
    
    
}

@media (max-width:390px){
    /*.column{
        width:100%;
    }*/
    .button input{
        font-size:6px;
    }
    .one, .two, .three, .four{
        width:100px;
    }

    
}

@media (max-width:980px){
    .column{
        width:100%;
    }
    .row{
        display: inline;
        
    }
    /*.container{
        margin-top: 350px;
    }*/
    .button{
        width:30%;
        margin-top: 50px;
    }
    .one, .two, .three, .four{
        height:300px;
    }
}

div h2{
    font-size:24px;
    color:var(--app-pink);
}
p{
    /*margin-top: 10px;*/
    margin-bottom: 30px;
    color:var(--app-light-pink);
}

.button input{
    height:50px;
    width:50%;
    background-color: var(--app-pink);
    border: 2px solid var(--app-pink);
    border-radius:12px;
    font-size: 20px;
    color: var(--app-white);
    transition: all 0.24s ease-in-out;
}




section{
    display:grid;
    align-items: center;
    /*font-size:36px;*/
    color: var(--app-white);
    text-align:center;
  /* margin-top: 50px;*/
    width:100%;
}

.button input:hover{
    background-color: var(--app-dark-grey);
}

.subscribe{
    width:30%;
    text-align: right;
    font-size: 10px;
    text-decoration: none;
    
}

.subscribe .button{
    height:60px;
    background-color: var(--app-pink);
    border-radius: 34px;
    margin-top: 60px;
    transition: transform .4s;
}


 .subscribe a{
    font-size: 28px;
    color:var(--app-light-pink);
    align-items: center;
    text-decoration: none;
    margin-right: 80px;
    padding: 10px;
    line-height: 60px;
}


/*--------------------*/
/*Pseudo Class        */
/*--------------------*/


.subscribe .button:hover{
    transform:scale(1.2);
}
@media (max-width:1360px){
    .subscribe a{
        margin-right: 80px;
        font-size:24px ;
    }
}
@media (max-width:1240px ){
    .subscribe a{
      font-size: 20px;
      margin-right: 60px;

    }
}
@media (max-width:1080px ){
    .subscribe a{
      font-size: 16px;
      margin-right: 160px;

    }
}

@media (max-width:900px ){
    .subscribe a{
      font-size: 14px;
      margin-right: 140px;

    }
}



@media (max-width:750px ){
    .subscribe a{
      font-size: 13px;
      margin-right:50px ;

    }
    
    
}

@media (max-width:705px ){
    .subscribe a{
      font-size: 12px;
      margin-right:40px ;

    }
    .row{
        display: inline;
    }
}

@media (max-width:640px ){
    .subscribe a{
     font-size: 12px; 
     margin-right: 20px;
    }
}

@media (max-width:570px ){
    .subscribe a{
     font-size: 12px; 
     margin-right: 0px;
    }
}

/*------------------------*/
/*Footer                  */
/*------------------------*/


footer {
    display: flex;
}


footer {
    background-color: var(--app-dark-grey);
    height: 80px;
    margin-top: 20px;
    
}


footer  .copy {
    width: 30%;
    text-align: right;
}

 .copy {
    font-size: 24px;
    color: var(--app-pink);
    line-height: 70px;
 }
 .tags {
    width: 70%;
    text-align: left;
}

 .tags ul {
    /*Removing the bullet points from the li's*/
    list-style: none;
    font-size: 0;
}

 .tags ul li {
    display: inline;
    line-height: 80px;
    cursor: default;
}

.tags ul li a, .tags ul .foot{
    background-color: var(--app-pink);
    font-size: 17px;
    color:  var(--app-white);
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: transform .4s;
}

.tags li a, .tags ul .foot {
    border: 2px solid var(--app-pink);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.tags ul li a i:hover{
    transform:scale(1.5);
    font-size: 22px;
    cursor:pointer;
}

@media (max-width:900px ){
    .tags ul li a{
      font-size: 10px;

    }

    .copy{
        font-size:13px ;
    }
    .copy{
        font-size:13px ;
    }
   footer .copy{
       text-align: right;
        width: 100%;
    }
}



@media (max-width:390px){
    

  nav ul .home-2 ,  nav ul .home-3 ,  nav ul .home-4, nav ul .home-5, nav ul .home-1 {
    display: none;
  }

 nav ul .tag {
    display:inline;
      font-size:24px;
      color: var(--app-white);
      /*margin-left:280px;*/
 }
}