@import "./base.css";


.container{
    width:min(100% - 30px, 1280px);
    margin-inline: auto;
}




/*------------------------*/
/*Columns                 */
/*------------------------*/

.column{
    flex-grow:1;
    width:calc(25% - 15px);
    height:250px;
    border-radius: 6px;
   
    margin-top:30px;
}
.row {
    flex-flow:row wrap;
     display:flex;
     gap:20px;
 }
 

.one{
    background-color: var(--app-dark-grey);
    padding:20px;
    box-sizing: border-box;
}

.two{
    background-color:var(--app-dark-grey) ;
    padding:20px;
    box-sizing: border-box;
}

.three{
    background-color: var(--app-dark-grey);
    padding:20px;
    box-sizing: border-box;
}

.four{
    background-color: var(--app-dark-grey);
    padding:20px;
    box-sizing: border-box;
}

/*699px and down*/
@media (max-width:1080px ){
    .column{
      width:calc(50% - 10px);

    }
    .button input{
        font-size: 12px;
    }
    
    
    
}

@media (max-width:560px){
    .column{
        width:100%;
    }
    .button input{
        font-size:6px;
    }

    
}

@media (max-width:300px){
    .column{
        width:100%;
    }
    .row{
        display: inline;
    }
}

div h2{
    font-size:24px;
    color:var(--app-pink);
}
p{
    margin-top: 10px;
    margin-bottom: 30px;
    color:var(--app-light-pink);
}

.button input{
    height:50px;
    width:50%;
    background-color: var(--app-pink);
    border: 2px solid var(--app-pink);
    border-radius:12px;
    font-size: 20px;
    color: var(--app-white);
    transition: all 0.24s ease-in-out;
}




section{
    display:grid;
    align-items: center;
    font-size:36px;
    color: var(--app-white);
    text-align:center;
    margin-top: 50px;
    width:100%;
}

.button input:hover{
    background-color: var(--app-dark-grey);
}

.subscribe{
    width:30%;
    text-align: right;
    font-size: 10px;
    text-decoration: none;
    
}

.subscribe .button{
    height:60px;
    background-color: var(--app-pink);
    border-radius: 34px;
    margin-top: 60px;
    transition: transform .4s;
}


 .subscribe a{
    font-size: 28px;
    color:var(--app-light-pink);
    align-items: center;
    text-decoration: none;
    margin-right: 80px;
    padding: 10px;
    line-height: 60px;
}


/*--------------------*/
/*Pseudo Class        */
/*--------------------*/


.subscribe .button:hover{
    transform:scale(1.2);
}
@media (max-width:1360px){
    .subscribe a{
        margin-right: 80px;
        font-size:24px ;
    }
}
@media (max-width:1240px ){
    .subscribe a{
      font-size: 20px;
      margin-right: 60px;

    }
}
@media (max-width:1080px ){
    .subscribe a{
      font-size: 16px;
      margin-right: 160px;

    }
}

@media (max-width:900px ){
    .subscribe a{
      font-size: 14px;
      margin-right: 140px;

    }
}



@media (max-width:750px ){
    .subscribe a{
      font-size: 13px;
      margin-right:50px ;

    }
    
    
}

@media (max-width:705px ){
    .subscribe a{
      font-size: 12px;
      margin-right:40px ;

    }
    .row{
        display: inline;
    }
}

@media (max-width:640px ){
    .subscribe a{
     font-size: 12px; 
     margin-right: 20px;
    }
}

@media (max-width:570px ){
    .subscribe a{
     font-size: 12px; 
     margin-right: 0px;
    }
}

